/mobi
/data
/tmp
.env

# airflow
/backend/airflow/dags/__pycache__
/backend/airconfig.txt
/backend/passwords.txt
/backend/tester
/backend/airflow-logs

# dbt
/backend/dbt/logs
/backend/dbt/.user.yml
/backend/dbt/dbt_packages
/backend/dbt/target
/backend/dbt/old
/backend/dbt/models/staging/*.csv